* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(142, 138, 138);
}

h1 {
    font-size: 60px;
}

a {
    font-size: 40px;
    color: greenyellow    
}


