* {
<<<<<<< HEAD
    text-align: center;
=======
>>>>>>> a47ad90bafa1f38437a0a21696257906e88f027b
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(142, 138, 138);
}

<<<<<<< HEAD
h1 {
    font-size: 60px;
}

a {
    font-size: 40px;
    color: greenyellow    
}


=======
body {
    text-align: center;
    color: whitesmoke;
}

h1 {
    font-size: 60px;
    color: black;
}

div {
    color:whitesmoke;
}


.meth {
    text-align: left;
}    


h3 {
    color: greenyellow;
}





>>>>>>> a47ad90bafa1f38437a0a21696257906e88f027b
